* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  padding: 30px;
}

p {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #999;
  cursor: pointer;
}

.row {

}

.col {
  
}